body{
  color : white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#getuserdata
{
  background-color: #263a72;
  width: 100%;
  height : 50%;
  float: left;
  display: list-item;
  margin : 5px 5px 5px 5px;

}
#listofshops
{
  background-color: #004953;
  float: right;
  width: 50%;
  height : 50%;
  display: list-item;
  margin : 5px 5px 5px 5px;
}
#showshops
{
  display : none;
  top : 51%;
  width: 100%;
  height: calc(100vh - 30px);
  background-color: #d5d1b5;
}
.groceryitems, .Shoplist
{
  margin: 5px 5px 5px 5px;
}

iframe {

  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  width:100%;
  height: calc(100vh - 30px);
  display: block;

}

#showAH, #showDirk
{
  display : none;
  float: left;
  width : 30%;
  margin-left: 5px;
}
