html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color : white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#grocerylist
{
  align-items: center;
}

#getuserdata, #findnearbyshops
{
  background-color: #263a72;
  width: 100%;
  height : 5%;
  float: left;
  display: list-item;
  margin : 0px 0px 5px 0px;
}

#showshops
{
  display : none;
  top : 51%;
  width: 100%;
  height: calc(100vh - 30px);
  background-color: #d5d1b5;
}
.groceryitems, .Shoplist, .Multiple
{
  margin: 5px 5px 5px 5px;
}

iframe
{

  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;

  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  -webkit-scrollbar-width : 20px;
  box-shadow: 4px 4px 14px #000;
  width:100%;
  height: calc(100vh - 30px);
  display: block;

}

#showAlbert-Heijn, #showDirk, #showVomar
{
  display : none;
  float: left;
  width : 30%;
  margin-left: 10px;
}

#map
{
  height: 50%;
  width: 50%;
  color : black;
}
